/* Base Application Styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:200,400,700,500);
body {
  color: #666;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.main{
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-flow: row wrap;
       flex-flow: row wrap;
   -webkit-flex-flow: row wrap;
}
