.shipmentdetails-component {
  background-color: #f1f1f1;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.35),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2);
  border-radius: 3px;
  padding: 15px 25px 25px 25px;
	margin-top: 15px;
  .shipmentdetails-carrier, .shipmentdetails-delivery-address, .shipmentdetails-tracking-number{
    font-weight: 200;
    padding-left: 5px;
  }
  .shipmentdetails-item{
    list-style-type: none;
    font-weight: 200;
  }
  .shipmentdetails-image {
    margin-top: 15px;
  }

}


