.trackingContainer {
  margin: 10px 8.2% 35px 8.2%;
  flex: 100%;
  li {
    background-color: white;
    list-style-type: none;
    margin: 0 0 15px 0;
  }
  li:first-child{
    background-color: #f1f1f1;
  }
  li:last-child{
    margin-bottom: 0;
  }
  ul{
    margin-left: -40px;
  }
  .statusupdate-title{
    margin: 0 0 15px 0;
    color: hsla(86, 53%, 51%, 1);
    font-weight: 500;
    font-size: 18px;
  }
}

@media all and (min-width: 1200px) {
  .trackingContainer {
    margin: 10px 8.2% 35px 7.5px;
    flex: 40%;
    ul{
      margin: 0;
    }
    .statusupdate-title{
      margin: 0 0 15px 40px;
    }
  }

}
